<a href="https://colab.research.google.com/github/krishbhowmick/EDA/blob/main/EDA8_Covid19Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **What are the Python queries that you will use to get the below data points?**

Q1. Show the nummber of confirmed, death, recovered case in each region.

Q2. Remove all the records where where confirmed cases is less then 10.

Q3. In which region maximum number of confirmed cases recorded ?

Q4. In which region maximum number of death cases recorded ?

Q5. How many confirmed, death, recovered cases come from india till 24th April 2020.

Q6. Sort the entire data wrt no. of confirmed cases in ascending order.

Q7. Sort the entire data wrt no. of confirmed cases in ascending order.

In [ ]:
# Connect the google drive with google Colab

from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [ ]:
import pandas as pd 
import seaborn as sb
import matplotlib.pyplot as plt

df = pd.read_csv("/content/drive/MyDrive/DataAnalysis/4. covid_19_data.csv" )
df.head(5)

        Date State       Region  Confirmed  Deaths  Recovered
0  4/29/2020   NaN  Afghanistan       1939      60        252
1  4/29/2020   NaN      Albania        766      30        455
2  4/29/2020   NaN      Algeria       3848     444       1702
3  4/29/2020   NaN      Andorra        743      42        423
4  4/29/2020   NaN       Angola         27       2          7

In [ ]:
df.shape

(321, 6)

In [ ]:
df.index

RangeIndex(start=0, stop=321, step=1)

In [ ]:
df.columns

Index(['Date', 'State', 'Region', 'Confirmed', 'Deaths', 'Recovered'], dtype='object')

In [ ]:
df.dtypes

Date         object
State        object
Region       object
Confirmed     int64
Deaths        int64
Recovered     int64
dtype: object

In [ ]:
df.nunique()

Date           1
State        137
Region       187
Confirmed    282
Deaths       142
Recovered    195
dtype: int64

In [ ]:
df.count()

Date         321
State        140
Region       321
Confirmed    321
Deaths       321
Recovered    321
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 321 entries, 0 to 320
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       321 non-null    object
 1   State      140 non-null    object
 2   Region     321 non-null    object
 3   Confirmed  321 non-null    int64
 4   Deaths     321 non-null    int64
 5   Recovered  321 non-null    int64
dtypes: int64(3), object(3)
memory usage: 15.2+ KB

# Q1. Show the nummber of confirmed, death, recovered case in each region.

In [ ]:
df.head()

        Date State       Region  Confirmed  Deaths  Recovered
0  4/29/2020   NaN  Afghanistan       1939      60        252
1  4/29/2020   NaN      Albania        766      30        455
2  4/29/2020   NaN      Algeria       3848     444       1702
3  4/29/2020   NaN      Andorra        743      42        423
4  4/29/2020   NaN       Angola         27       2          7

In [ ]:
df.groupby('Region').sum()

                    Confirmed  Deaths  Recovered
Region
Afghanistan              1939      60        252
Albania                   766      30        455
Algeria                  3848     444       1702
Andorra                   743      42        423
Angola                     27       2          7
...                       ...     ...        ...
West Bank and Gaza        344       2         71
Western Sahara              6       0          5
Yemen                       6       0          1
Zambia                     97       3         54
Zimbabwe                   32       4          5

[187 rows x 3 columns]

In [ ]:
df.groupby('Region')['Confirmed'].sum().sort_values(ascending=False)

Region
US                       1039909
Spain                     236899
Italy                     203591
France                    166543
UK                        166441
                          ...
Sao Tome and Principe          8
Papua New Guinea               8
Bhutan                         7
Western Sahara                 6
Yemen                          6
Name: Confirmed, Length: 187, dtype: int64

In [ ]:
df.groupby('Region')['Confirmed','Recovered'].sum()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

                    Confirmed  Recovered
Region
Afghanistan              1939        252
Albania                   766        455
Algeria                  3848       1702
Andorra                   743        423
Angola                     27          7
...                       ...        ...
West Bank and Gaza        344         71
Western Sahara              6          5
Yemen                       6          1
Zambia                     97         54
Zimbabwe                   32          5

[187 rows x 2 columns]


# Q2. Remove all the records where where confirmed cases is less then 10.

In [ ]:
df[ ~(df['Confirmed']<10) ]

          Date     State          Region  Confirmed  Deaths  Recovered
0    4/29/2020       NaN     Afghanistan       1939      60        252
1    4/29/2020       NaN         Albania        766      30        455
2    4/29/2020       NaN         Algeria       3848     444       1702
3    4/29/2020       NaN         Andorra        743      42        423
4    4/29/2020       NaN          Angola         27       2          7
..         ...       ...             ...        ...     ...        ...
316  4/29/2020   Wyoming              US        545       7          0
317  4/29/2020  Xinjiang  Mainland China         76       3         73
318  4/29/2020     Yukon          Canada         11       0          0
319  4/29/2020    Yunnan  Mainland China        185       2        181
320  4/29/2020  Zhejiang  Mainland China       1268       1       1263

[304 rows x 6 columns]

# Q3. In which region maximum number of confirmed cases recorded ?

In [ ]:
df.groupby('Region')['Confirmed'].sum().sort_values(ascending=False)

Region
US                       1039909
Spain                     236899
Italy                     203591
France                    166543
UK                        166441
                          ...
Sao Tome and Principe          8
Papua New Guinea               8
Bhutan                         7
Western Sahara                 6
Yemen                          6
Name: Confirmed, Length: 187, dtype: int64

In [ ]:
df.groupby('Region').Confirmed.sum().sort_values(ascending=False)

Region
US                       1039909
Spain                     236899
Italy                     203591
France                    166543
UK                        166441
                          ...
Sao Tome and Principe          8
Papua New Guinea               8
Bhutan                         7
Western Sahara                 6
Yemen                          6
Name: Confirmed, Length: 187, dtype: int64

# Q4. In which region maximum number of death cases recorded ?

In [ ]:
df.groupby('Region')['Deaths'].sum().sort_values(ascending=False)

Region
US            60967
Italy         27682
UK            26166
Spain         24275
France        24121
              ...
Fiji              0
Cambodia          0
Mozambique        0
Mongolia          0
Laos              0
Name: Deaths, Length: 187, dtype: int64

# Q5. How many confirmed, death, recovered cases come from india till 24th April 2020.

In [ ]:
df[df.Region=='India']

         Date State Region  Confirmed  Deaths  Recovered
74  4/29/2020   NaN  India      33062    1079       8437

# Q6. Sort the entire data wrt no. of confirmed cases in ascending order.

In [ ]:
df.sort_values(by='Confirmed', ascending=True)

          Date                         State  ... Deaths  Recovered
285  4/29/2020                     Recovered  ...      0     120720
284  4/29/2020                     Recovered  ...      0      20327
203  4/29/2020  Diamond Princess cruise ship  ...      1          0
305  4/29/2020                         Tibet  ...      0          1
289  4/29/2020     Saint Pierre and Miquelon  ...      0          0
..         ...                           ...  ...    ...        ...
57   4/29/2020                           NaN  ...  24087      48228
168  4/29/2020                           NaN  ...  26097          0
80   4/29/2020                           NaN  ...  27682      71252
153  4/29/2020                           NaN  ...  24275     132929
265  4/29/2020                      New York  ...  23477          0

[321 rows x 6 columns]


# Q7. Sort the entire data wrt no. of confirmed cases in ascending order.

In [ ]:
df.sort_values(by='Confirmed', ascending=False)

          Date                         State  ... Deaths  Recovered
265  4/29/2020                      New York  ...  23477          0
153  4/29/2020                           NaN  ...  24275     132929
80   4/29/2020                           NaN  ...  27682      71252
168  4/29/2020                           NaN  ...  26097          0
57   4/29/2020                           NaN  ...  24087      48228
..         ...                           ...  ...    ...        ...
305  4/29/2020                         Tibet  ...      0          1
289  4/29/2020     Saint Pierre and Miquelon  ...      0          0
285  4/29/2020                     Recovered  ...      0     120720
284  4/29/2020                     Recovered  ...      0      20327
203  4/29/2020  Diamond Princess cruise ship  ...      1          0

[321 rows x 6 columns]